:root {
  --animation-time: 800ms;
  /* matches index.tsx "animationLength" */
}

body {
  background-color: #4B73BC;
  color: white;
}

a {
  text-decoration: underline;
  color: white;
}

html, body, main {
  height: 100%;
  margin: 0;
}

#__next {
  height: 100%;
}