:root {
  --animation-time: 800ms;
  /* needs to match index.tsx "animationLength" */
}

body {
  color: white;
  transition: background-color 800ms linear;
  cursor: default;
}

a {
  text-decoration: underline;
  color: white;
}

a:hover {
  text-decoration: none;
}


html, body, main {
  height: 100%;
  margin: 0;
}

#__next {
  height: 100%;
}