.HoriCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1%;
}

@media (max-width: 52rem) {
  .HoriCenter {
    height: 100%;
    margin-left: 0;
    position: relative; /* https://stackoverflow.com/a/14837589 */
  }
}

.VertCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  overflow-x: hidden;
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.FooterEmoji {
  font-size: 2em;
  margin-left: 0.1em;
}

.FooterStick {
  display: flex;
  flex-direction: column;
  height: 100%;
}
