.HoriCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -2.5%;
}
@media (max-width: 68rem), (max-height: 40rem) {
  .HoriCenter {
    margin-left: 1%;
  }
}
@media (max-width: 52rem) {
  .HoriCenter {
    height: 100%;
    margin-left: 0;
  }
}

.VertCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.FooterEmoji {
  font-size: 2em;
  margin-left: .1em;
}

.FooterStick {
  display: flex;
  flex-direction: column;
  height: 100%;
}
