/* refactor: move layout css to it's own file */
.RowCenter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 4vw;
}

.VertCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.Footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 1em;
}

.FooterStick {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.MP3Section {
  display: flex;
  flex-direction: column;
  padding: 2.5em 2.5em 2.3em 2.5em;
  background-color: white;
  border-radius: 22px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 23em;
  max-width: 25%;
}
@media (max-width: 1250px) {
  .MP3Section {
    padding: 2em 2em 1.8em 2em;
    width: 18em;
  }
}
@media (max-width: 1000px) {
  .MP3Section {
    display: none;
  }
}

.MP3Controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25em;
}

.SpotifyIFrameContainer {
  width: 78%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.MP3Skip {
  width: 3.5em;
}
@media (max-width: 1250px) {
  .MP3Skip {
    width: 2.5em;
  }
}

.MP3Skip img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.TextSection {
  max-width: 28em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 1.25em;
  line-height: 1.5em;
  letter-spacing: .015em;
}

.TextSection .HeyLine {
  display: flex;
  flex-direction: row;
}

.HeyLine .HeyLineText {
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: .04em;
}

.HeyLine .HeyLineHand {
  margin-top: .78em;
  margin-left: .12em;
  font-size: 2em;
}

.MP3CoverArt {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}